
.buttonContainer{
  display: flex;
  justify-content: center;
  align-items: center; 
  margin: 0 5%;
  .buttons {  
    text-align: center;
    width: 100%;
    @include media(900px){
      display: flex;
    }
    div{
      .button{
        width: 125px;
        height: 125px;
        margin: 5%;
        border: none;
        cursor: pointer;
      }
    }
  }
}
#red{
  background: firebrick;
}
#green{
  background: green;
}
#blue{
  background: darkblue;
}
#yellow{
  background: goldenrod;
}

.button:focus{
  outline: 2px solid black;
}