.gameInfo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include media(730px){
    width: 100%;
    margin-bottom: 5%;
  }
  .start{
    background: seashell;
    display: flex;
    align-items: center;
    color: seashell;
    border-radius: 50%;
    button{
      background: seashell;
    }
  }
  .level,
  .feedback{
    margin:3% 0;
    @include media(730px){
      margin:1% 0;
      text-align: center;
    }
  }
  .feedback{
    width: 100%;
  }
  .level h3{
    margin: 10px 0;
    @include media(730px){
      text-align: center;
    }
  }
  .formInfo h3{
    @include media(730px){
      text-align: center;
    }
  }
}