.gameInfo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  .start{
    background: seashell;
    display: flex;
    align-items: center;
    color: seashell;
    border-radius: 50%;
    button{
      background: seashell;
    }
  }
  .level,
  .feedback{
    margin:3% 0 ;
  }
  .feedback{
    width: 50%;
  }
  .level h3{
    margin: 10px 0;

  }
}