html{
  background-image: linear-gradient(to right bottom, #dbdac8, #a0cbab, #28bbba, #00a3e0, #127aeb);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 16px;
  font-family: 'Nunito', sans-serif;

}
h1,h2,h3,h4,h5,h6,p,ul,ol,li,a{
  margin: 0;
  padding: 0;
}
ul{
  list-style: decimal;
}
main{
  height: 100%;
  margin: 5% 0;
}

.wrapper{
  max-width: 1400px;
  margin: 0 10%;
  @include media(370px){
    margin: 0 5%;
  }
  
}
.powerArea,
.gameInfo{
  width: 25%;
}
.buttonContainer{
  width: 50%;
}
