body{
  background-image: linear-gradient(to right bottom, #dbdac8, #a0cbab, #28bbba, #00a3e0, #127aeb);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  font-size: 16px;
}
h1,h2,h3,h4,h5,h6,p,ul,li,a{
  margin: 0;
  padding: 0;
}
ul{
  list-style: none;
}
main{
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Nunito', sans-serif;
}
.wrapper{
  max-width: 1400px;
  margin: 0 10%;
}

.powerArea, 
.gameInfo{
  width: 25%;
}
.buttonContainer{
  width: 50%;
}