header{
  text-align: center;
  width: 100%;
  font-family: 'Nunito', sans-serif;
  border-bottom: 1px solid black;
  margin-bottom: 3%;

  .headerInfoContainer{
    display: flex;
    
    .instructions,
    #score{
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: column;
      // justify-content: space-between;
    }
    .instructions,
    #score{
      width: 50%;
    }
      .instructions ul{
        margin: 0 auto;
        text-align: left;
      }
      #scoreList{
        margin: 0 auto;
        text-align: left;
      }
    }
  }  