article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#dbdac8), color-stop(#a0cbab), color-stop(#28bbba), color-stop(#00a3e0), to(#127aeb));
  background-image: linear-gradient(to right bottom, #dbdac8, #a0cbab, #28bbba, #00a3e0, #127aeb);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li, a {
  margin: 0;
  padding: 0;
}

ul {
  list-style: decimal;
}

main {
  height: 100%;
  margin: 5% 0;
}

.wrapper {
  max-width: 1400px;
  margin: 0 10%;
}

@media (max-width: 370px) {
  .wrapper {
    margin: 0 5%;
  }
}

.powerArea,
.gameInfo {
  width: 25%;
}

.buttonContainer {
  width: 50%;
}

header {
  text-align: center;
  width: 100%;
  font-family: 'Nunito', sans-serif;
  border-bottom: 1px solid black;
  margin-bottom: 3%;
}

@media (max-width: 730px) {
  header h1 {
    margin: 5% 0;
  }
}

header .headerInfoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2%;
}

@media (max-width: 730px) {
  header .headerInfoContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
  }
}

header .headerInfoContainer .instructions,
header .headerInfoContainer #score {
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 730px) {
  header .headerInfoContainer .instructions,
  header .headerInfoContainer #score {
    width: 100%;
    margin: 2% 0;
  }
}

header .headerInfoContainer .instructions,
header .headerInfoContainer #score {
  width: 50%;
}

@media (max-width: 730px) {
  header .headerInfoContainer .instructions,
  header .headerInfoContainer #score {
    width: 100%;
  }
}

header .headerInfoContainer .instructions ul {
  margin: 0 auto;
  text-align: left;
}

@media (max-width: 730px) {
  header .headerInfoContainer .instructions ul,
  header .headerInfoContainer #score ul {
    margin-left: 20px;
  }
}

header .headerInfoContainer #scoreList {
  margin: 0 auto;
  text-align: left;
}

.gameContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 730px) {
  .gameContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.gameContent .powerArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 730px) {
  .gameContent .powerArea {
    width: 40%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.gameContent .powerArea input#powerButton {
  position: relative;
  -webkit-appearance: none;
  width: 50px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #D9DADC;
  border-radius: 50px;
  -webkit-box-shadow: inset -20px 0 0 0 #fff;
          box-shadow: inset -20px 0 0 0 #fff;
}

.gameContent .powerArea input#powerButton:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  background: transparent;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  -webkit-box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

.gameContent .powerArea input#powerButton:checked {
  -webkit-box-shadow: inset 20px 0 0 0 #4ed164;
          box-shadow: inset 20px 0 0 0 #4ed164;
  border-color: #4ed164;
}

.gameContent .powerArea input#powerButton:checked:after {
  left: 20px;
  -webkit-box-shadow: -2px 4px 3px rgba(0, 0, 0, 0.05);
          box-shadow: -2px 4px 3px rgba(0, 0, 0, 0.05);
}

.gameContent .powerArea .startButton {
  width: 100%;
  margin: 10px 0;
}

.gameContent .powerArea .startButton button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5% 0;
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
}

.gameContent .powerArea .gameStatus {
  text-align: left;
}

.buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5%;
}

@media (max-width: 730px) {
  .buttonContainer {
    width: 100%;
  }
}

.buttonContainer .buttons {
  text-align: center;
  width: 100%;
}

@media (max-width: 910px) {
  .buttonContainer .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.buttonContainer .buttons div {
  width: 100%;
}

.buttonContainer .buttons div .button {
  width: 125px;
  height: 125px;
  margin: 5%;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-box-shadow: 0px 9px 0px #778899;
  box-shadow: 0px 9px 0px #778899;
}

@media (max-width: 920px) {
  .buttonContainer .buttons div .button {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 420px) {
  .buttonContainer .buttons div .button {
    width: 100px;
    height: 100px;
  }
}

.buttonContainer .buttons div .button:active {
  -webkit-box-shadow: 0px 1px 0px #778899;
  box-shadow: 0px 1px 0px #778899;
  position: relative;
  top: 7px;
}

#red {
  background: firebrick;
}

#green {
  background: green;
}

#blue {
  background: darkblue;
}

#yellow {
  background: goldenrod;
}

.gameInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 730px) {
  .gameInfo {
    width: 100%;
  }
}

.gameInfo .start {
  background: seashell;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: seashell;
  border-radius: 50%;
}

.gameInfo .start button {
  background: seashell;
}

.gameInfo .level,
.gameInfo .feedback {
  margin: 3% 0;
}

@media (max-width: 730px) {
  .gameInfo .level,
  .gameInfo .feedback {
    margin: 1% 0;
    text-align: center;
  }
}

.gameInfo .feedback {
  width: 100%;
}

.gameInfo .level h3 {
  margin: 10px 0;
}

@media (max-width: 730px) {
  .gameInfo .level h3 {
    text-align: center;
  }
}

@media (max-width: 730px) {
  .gameInfo .formInfo h3 {
    text-align: center;
  }
}

#form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#form #name {
  border: none;
  border-radius: 15px;
  text-align: center;
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 5%;
}

#form .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  font-family: 'Nunito', sans-serif;
  font-size: 1.17em;
  font-weight: bold;
  width: 100%;
}

footer {
  text-align: center;
  font-family: 'Nunito', sans-serif;
  width: 100%;
  padding: .5% 0;
  color: seashell;
  background: black;
  position: fixed;
  bottom: 0;
}
